<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
<form action="/search" method="GET">
    <label for="name">Name:</label>
    <input type="text" id="name" name="name"><br><br>
    <label for="club">Club:</label>
    <input type="text" id="club" name="club"><br><br>
    <label for="club">Nationality:</label>
    <input type="text" id="nationality" name="nationality"><br><br>
    <input type="submit" value="Submit">
    <input type="hidden" name="limit" value="20">
    <input type="hidden" name="offset" value="0">
</form>

<table>
    <tr>
        <th>Name</th>
        <th>Age</th>
        <th>Nationality</th>
        <th>Club</th>
        <th>Photo</th>
        <th>Overall</th>
        <th>Value</th>
    </tr>
    {% for player in result %}
        <tr>
            <td>{{ player.name }}</td>
            <td>{{ player.age }}</td>
            <td>{{ player.nationality }}</td>
            <td>{{ player.club }}</td>
            <td>
                <img src={{ player.photo }} alt="" width="80" height="80">
            </td>
            <td>{{ player.overall }}</td>
            <td>{{ player.value }} €</td>
        </tr>
    {% endfor %}
</table>
<button class="prev_button">Previous Page</button>
<button class="next_button">Next Page</button>
</body>
</html>
<script>
    function qs(key) {
        key = key.replace(/[*+?^$.\[\]{}()|\\\/]/g, "\\$&"); // escape RegEx meta chars
        var match = location.search.match(new RegExp("[?&]" + key + "=([^&]+)(&|$)"));
        return match && decodeURIComponent(match[1].replace(/\+/g, " "));
    }

    $('.prev_button').click(function () {
        var offset = 0;
        if (qs('offset') !== null) {
            offset = qs('offset');
        }
        var limit = 10;
        if (qs('limit') !== null) {
            limit = qs('limit');
        }
        offset = parseInt(offset) - parseInt(limit)
        if (offset < 0) {
            offset = 0;
        }
        var url = new URL(window.location.href);
        url.searchParams.set("offset", offset); // setting your param
        var newUrl = url.href;
        window.location.replace(newUrl);
    })

    $('.next_button').click(function () {
        var offset = 0;
        if (qs('offset') !== null) {
            offset = qs('offset');
        }
        var limit = 10;
        if (qs('limit') !== null) {
            limit = qs('limit');
        }
        offset = parseInt(offset) + parseInt(limit)

        var url = new URL(window.location.href);
        url.searchParams.set("offset", offset); // setting your param
        var newUrl = url.href;
        window.location.replace(newUrl);
    })
</script>
