<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TeamBuilder</title>
</head>
<body>
<form action="/{{ request_url }}" method="GET">
    <label for="name">Budget:</label>
    <input type="number" id="budget" name="budget" placeholder="Euro"><br><br>
    <input type="submit" value="Submit">
</form>

<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>Age</th>
        <th>Nationality</th>
        <th>Club</th>
        <th>Photo</th>
        <th>Overall</th>
        <th>Value</th>
    </tr>
    </thead>
    {% for position, players in selected_players.items %}
        <tbody>
        <tr>
            <th colspan="3">{{ position }}</th>
        </tr>
        {% for player in players %}
            <tr>
                <td>{{ player.name }}</td>
                <td>{{ player.age }}</td>
                <td>{{ player.nationality }}</td>
                <td>{{ player.club }}</td>
                <td>
                    <img src={{ player.photo }} alt="" width="80" height="80">
                </td>
                <td>{{ player.overal }}</td>
                <td>{{ player.value }} €</td>
            </tr>
        {% endfor %}
        </tbody>
    {% endfor %}
</table>
</body>
</html>
